<div class="container">
  <h1>Simple Sails Chatroom</h1>

  <div class="row">

    <div id="messages" class="col-sm-8">
      <h4>Messages</h4>
    </div>

    <aside id="users" class="col-sm-4 hidden-xs">
      <h4>Connected users</h4>
    </aside>

  </div>

  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="message">My message</label>
      <input id="message" type="text" class="form-control" placeholder="My message" required minlength="3" autofocus />
      <button id="send-message" type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>