<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loginModal">Log in</h4>
      </div>
      <form id="login-form" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label for="user-name" class="col-sm-3 control-label">My username</label>
            <div class="col-sm-9">
              <input id="user-name" type="text" class="form-control" placeholder="JCVD" required minlength="3" autofocus>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button id="log-in" type="submit" class="btn btn-primary">Go!</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>